* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #FFF;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    line-height: normal;
}

#wrapper {
    max-width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

::placeholder{
    color:rgba(255, 255, 255, 0.8);
}

a {
    text-decoration: none;
    /* color: #3366cc; */
    color: #FFF;
}

a:hover {
    text-decoration: underline;
}

hr {
    width: 84%; 
    margin-bottom: 10px;
}

i {
    color: blue;
    font-size: 14px;
}

i:hover {
    text-decoration: underline;
}

ul li {
    list-style-type: none;
}

/* -------------------------------------------------------------------- */
header {
    display: flex;
    justify-content: space-between;
    background-color:#28c71a ;
    background-position-y: -217px;
    min-height: 50px;
    padding-top: 10px;
}

header #slogan {
    background-color: #ffffff50;
    border-radius: 5px;
    margin-bottom: 3px;
}

header #lang>a:hover ~ #active1, #lang #active1:hover {
    display: block;
}

header #lang #active1 {
    position: absolute;
    top: 35px;
    right: 253px;
    display: none;
}

header #lang .triangle {
    width: 20px;
    border: 10px solid transparent;
    border-bottom-color: #f9f9f9;
    margin-bottom: 1px;
}

header #lang ul {
    list-style-type: none;
    background: rgba(65, 152, 229, 0.566);
    border: 1px solid #FFF;
    border-radius: 10px;
    padding: 10px;
}

header #lang ul li {
    text-align: left;
    padding-bottom: 10px;
}

header #lang ul li span {
    position: relative;
    top: -5px;
    margin-left: 5px;
    color: black;
}
/* end header css  */


nav {
    background-color:#28c71a ;
    min-height: 150px;
}

/* search bar  */
nav #search-bar {
    min-height: 50px;
    display: flex;
    justify-content:space-between;
}

nav #search-bar #search #bsearch {
    position: relative;
    top: 9px;
    left: -45px;
}

nav #search-bar #ipsearch {
    min-width: 500px;
    padding: 10px;
    padding-left: 20px;
    text-align: left;
    border-radius: 0px 20px;
    border: 1px solid rgba(252, 252, 252, 0.8);
}


/* login  */
nav #login ul li {
    list-style-type: none;
    text-align: left;
}

nav #login ul li a {
    font-size: 12px;
}


/* menu  */
nav #nav-menu ul li {
    list-style-type: none;
    text-align: center;
    margin: 10px;
}

nav #nav-menu ul li a {
    position: relative;
    top: -5px;
    padding-left: 5px;
}

nav #nav-menu ul li a:hover {
    background-color: #ffffff58;
}

nav #nav-menu ul li:first-child img:hover {
    width: 35px;
    height: auto;
}

nav #nav-menu ul li img:hover {
    width: 40px;
    height: auto;
}

nav #nav-menu ul li:last-child img:hover {
    width: 30px;
    height: auto;
}

nav div#nav-menu ul li:last-child:hover ul.sub-menu {
    display: block;
}

nav div#nav-menu ul li ul.sub-menu {
    display: none;
    width: 121px;
    position: absolute;
    background-color: #28c71a;
    z-index: 1;
}

nav div#nav-menu ul li ul.sub-menu li {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ffffffa5;
}

nav div#nav-menu ul li ul.sub-menu li a {
    position: unset;
}
/* end nav css  */


main {
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

main div#c-banner {
    margin: 50px auto;
}

main div#c-banner video {
    object-fit: contain;
    object-position: center center;
    border: 5px solid #0022a552;
    border-radius: 0px 20px;
}

main div.section {
    width: 100%;
    min-height: 100px;
    margin-bottom: 25px;
    padding: 20px 5px;
}

main div.section:last-child {
    margin-bottom: 0px;
}

main div.section.product {
    background-color: #EFF2FF;
    box-shadow: inset 0px 0px 2em 7px #fffdfd;
}

main div.section div.sidebar.product {
    background: linear-gradient(to top, #fc00ff, #00dbde);
    border-radius: 25px;
    border: 5px solid #fb00ff87;
}

main div.section div.sidebar ol li {
    text-align: left;
    list-style-type: disclosure-closed;
    padding: 50px;
    padding-left: 10px;
    font-weight: bold;
}

main div.section div.sidebar ol li a p {
    display: inline-block;
    font-size: 19px;
    text-transform: uppercase;
}

main div.section div.sidebar ol li a img {
    position: relative;
    top: 8px;
    margin-left: 7px;
}

/* section > content  */
main .section .content {
    flex-basis: 70%;
    align-self: baseline;
}

main div.section div.content div.infor {
    min-height: 290px;
}

main div.section div.content div.infor ol li {
    list-style: none;
    text-align: left;
    font-size: 20px;
}

main div.section div.content div.infor ol img {
    width: 75%;
    display: block;
    border-radius: 30px;
    height: auto;
    padding: 10px;
    position: relative;
    z-index: 1;
}

main div.section div.content div.infor>ol>li>h1 {
    margin-top: 10px;
    padding: 10px 0px;
    font-size: 25px;
}

main div.section div.content div.infor ol li p {
    text-align: justify;
    padding: 10px 0px;
    font-size: 20px;
}

main div.section div.content ul li ul {
    padding-bottom: 25px;
}

main div.section div.content ul li:last-child ul {
    padding: 0px;
}

/* section > product  */
main div.section.product div.content.product ul li img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
}

main div.section.product div.content.product ul li img:hover{
    border: 0.01px solid #00000014;
    box-shadow: 0 0 3em 5px #fff;
}

/* project  -> sidebar */
main div.section.project div.sidebar ol li {
    color: #000;
    margin-left: 80px;
    padding: 20px;
}

main div.section.project div.sidebar ol li a {
    color: #000;
}

/* project -> content  */
main div.section.project div.content ul li img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 4px 5px #afadad;
    position: relative;
    z-index: 1;
}

main div.section.project div.content ul li p {
    color: #000;
    text-align: justify;
    border: 5px double #000;
    padding: 155px 50px;
    position: relative;
    top: -120px;
    text-indent: 40px;
    line-height: 45px;
    border-radius: 10px;
    font-size: 18px;
}

main div.section.news {
    justify-content: center;
    max-width: 95%;
}

/* new -> sidebar  */
main div.section.news p {
    color: #000;
    text-align: justify;
    margin: 0px;
    font-size: 12px;
    align-self: flex-start;
}

main div.section.news div.sidebar {
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 500px;
    flex: 30%;
    text-align: left;
    border-right: 1px solid #aaaaaac0;
    padding-right: 15px;
}

main div.section.news div.sidebar ul li {
    padding-bottom: 10px;
    border-bottom: 1px solid #aaaaaac0;
}

main div.section.news div.sidebar ul li:first-child {
    padding: 0px;
    border: unset;
}

main div.section.news div.sidebar ul li div img {
    border-right: 1px solid #080095;
    border-radius: 50%;
    padding: 0px 5px;
    margin: 0px;
    margin-right: 15px;
}

main div.section.news div.sidebar ul li h2 {
    color: #000;
    font-size: 14px;
    text-align: left;
    padding: 10px 0px;
}

main div.section.news div.sidebar ul li a img {
    width: 150px;
    height: auto;
    margin-right: 10px;
    align-self: baseline;
}

/* section.news -> content  */
main div.section.news div.content {
    min-height: 500px;
    align-items: baseline;
}

main div.section.news div.content h1 {
    color: #000;
    text-align: left;
    padding: 10px 0px;
    font-size: 17px;
}

main div.section.news div.content #videos-main {
    flex: 60%;
    text-align: left;
    margin-left: 20px;
}

main div.section.news div.content #videos-main ul li {
    margin-bottom: 80px;
    border-bottom: 1px solid #919191c3;
}

main div.section.news div.content #videos-sub {
    flex: 40%;
    align-self: flex-start;
    margin-top: 40px;
}

main div.section.news div.content #videos-sub>ul>li {
    text-align: left;
    margin-bottom: 85px;
}

main div.section.news div.content #videos-sub ul li ul li video {
    width: 45%;
    height: auto;
    margin-bottom: 10px;
}

main div.section.news div.content #videos-sub ul li ul li a h1 {
    font-size: 14px;
    padding-left: 10px;
}
/* end main css  */


footer {
    text-align: left;
    background-image: url('../media/Background/Background-cr2.jpg');
    background-position-y: -50px;
    background-repeat: repeat-x;
    min-height: 200px;
}

footer p {
    color: #000;
    text-align: justify;
}

/* information  */
footer div#information {
    min-height: 280px;
    max-width: 80%;
}

footer div#information div#left {
    flex: 65%;
    margin-top: 10px;
    padding-left: 10px;
    text-align: justify;
    align-self: baseline;
    margin: 0px;
}

footer div#information div#left h1 {
    margin: 10px 0px;
    text-align: left;
    color: #000;
}

footer div#information div#left ul {
    width: 90%;
    padding-bottom: 20px;
    border-bottom: 1px solid #767676e4;
}

footer div#information div#left ul li {
    margin: 0px;
    text-align: justify;
    padding: 10px 0px;
}

footer div#information div#left ul li a {
    color: #000;
}

footer div#information div#left div {
    margin: 0px;
    margin-top: 30px;
}

footer div#information div#left div img:first-child {
    width: 22%;
    height: auto;
    margin: 0px;
    border-radius: 50%;
}

footer div#information div#left div img:last-child {
    width: 30%;
    height: auto;
    margin: 0px;
}

/* information -> right  */
footer div#information #right {
    flex: 35%;
    border-left: 1px dashed #000;
    min-height: 50px;
    margin: 0px;
    padding-left: 20px;
    margin-top: 10px;
    align-self: baseline;
}

footer div#information #right ul li h1 {
    color: #000;
    text-align: justify;
    margin: 10px 0px;
}

footer div#information #right ul li div {
    text-align: left;
    color: #000;
}

footer div#information #right ul li div input#myEmail {
    color: #000;
    text-align: justify;
    padding: 3px 5px;
    width: 65%;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid #000;
}

footer div#information #right ul li div button {
    color: black;
    width: 20%;
    padding: 3px 5px;
    border-radius: 10px;
    background-color: #77e4ff;
    border: 1px solid #FFF;
}

footer div#information #right ul li div button:hover {
    box-shadow: 1px 1px #000;
}

footer div#information #right ul li ul li {
    margin: 0px;
    margin-top: 30px;
}

footer div#information #right ul li ul li img {
    width: 35px;
    height: auto;
}

/* license  */
footer div#license {
    background-color: #220093;
    padding: 7px 0px;
}

footer div#license span {
    color: #00dbde;
}

footer div#license ul {
    justify-content: space-between;
    width: 80%;
}

footer div#license ul li {
    margin: 0px;
}